:root {
  --background-base: #121212;
  --background-highlight: #1a1a1a;
  --background-press: #000000;
  --background-elevated-base: #242424;
  --background-elevated-highlight: #2a2a2a;
  --background-elevated-press: #000000;
  --background-tinted-base: hsla(0,0%,100%,.07);
  --background-tinted-highlight: hsla(0,0%,100%,.1);
  --background-tinted-press: hsla(0,0%,100%,.04);
  --text-base: #ffffff;
  --text-subdued: #a7a7a7;
  --text-bright-accent: #1ed760;
  --text-negative: #f15e6c;
  --text-warning: #ffa42b;
  --text-positive: #1ed760;
  --text-announcement: #3d91f4;
  --essential-base: #ffffff;
  --essential-subdued: #727272;
  --essential-bright-accent: #1ed760;
  --essential-negative: #e91429;
  --essential-warning: #ffa42b;
  --essential-positive: #1ed760;
  --essential-announcement: #0d72ea;
  --decorative-base: #ffffff;
  --decorative-subdued: #292929;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-base);
  color: var(--text-base);
}