.container {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 0.25rem;
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--text-base);
}

.input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #d1d5db;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    outline: none;
    background-color: var(--background-base);
    color: var(--text-base);
}

.input:focus {
    border-color: var(--essential-bright-accent);
    box-shadow: 0 0 0 2px rgba(30, 215, 96, 0.2);
}

.inputError {
    border-color: var(--text-negative);
}

.inputError:focus {
    box-shadow: 0 0 0 2px rgba(241, 94, 108, 0.2);
}

.errorMessage {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    color: var(--text-negative);
}