.playIcon {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 16px solid black;
    margin-left: 4px; /* Optical centering */
}